.main_block {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(var(--color-light2));
  color: rgb(var(--color-light1));
  display: flex;
  flex-direction: column;
}
.main_block .log-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(var(--color-dark1));
}
.main_block .log-buttons div {
  padding: 10px 20px;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(var(--color-middle1));
  color: rgb(var(--color-light1));
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
.main_block .log-buttons div:hover {
  background-color: rgb(var(--color-dark1));
}
.main_block .log-buttons .active, .main_block .log-buttons .active:hover {
  background-color: rgb(var(--color-light1));
  color: rgb(var(--color-dark1));
  font-weight: bold;
  border-top: 1px solid rgb(var(--color-dark1));
  border-left: 1px solid rgb(var(--color-dark1));
  border-right: 1px solid rgb(var(--color-dark1));
}
@media screen and (max-width: 650px) {
  .main_block .log-buttons {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .main_block .log-buttons div {
    width: 100px;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 8px;
  }
}
.main_block .log-container {
  flex: 1;
  max-height: 600px;
  padding: 10px;
  background-color: darkslategrey;
  border: 2px solid rgb(var(--color-dark1));
  overflow-y: auto;
  white-space: pre-wrap;
  font-family: "Courier New", Courier, monospace;
}
.main_block .log-container .log-entry {
  padding: 4px 0 10px 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  border-bottom: 1px solid rgb(var(--color-light1));
}
.main_block .log-container .log-entry .log-date {
  width: 100px;
  flex-shrink: 0;
}
.main_block .log-container .log-entry .log-page {
  width: 100px;
  flex-shrink: 0;
  text-align: center;
}
.main_block .log-container .log-entry .log-status {
  width: 70px;
  flex-shrink: 0;
  text-align: center;
}
.main_block .log-container .log-entry .log-text {
  flex-grow: 1;
  word-break: break-all;
}
@media screen and (max-width: 500px) {
  .main_block .log-container .log-entry {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}
@media screen and (max-width: 400px) {
  .main_block .log-container .log-entry .log-date, .main_block .log-container .log-entry .log-page, .main_block .log-container .log-entry .log-status, .main_block .log-container .log-entry .log-text {
    width: 100%;
  }
  .main_block .log-container .log-entry .log-date {
    text-align: center;
  }
}
