@charset "UTF-8";
:root {
  /*  ======= C O L O R S ======= */
  /* Main colors */
  --color-dark1:          115, 115, 115;
  /* Темний колір 1 */
  --color-dark2:          93, 105, 115;
  /* Темний колір 2 */
  --color-middle1:        190, 189, 191;
  /* Середній колір 1 */
  --color-middle2:        151, 159, 166;
  /* Середній колір 2 */
  --color-middle3:        217, 217, 217;
  /* Другий середій колір 2 */
  --color-light1:         255, 250, 205;
  /* Світлий колір 1 */
  --color-light2:         239, 242, 216;
  /* Світлий колір 2 */
  /* Text */
  --highlite_text:        blue;
  /* Колір підсвітки тексту */
  /* Shadows */
  --color-swadow1:        64, 64, 64;
  /* Колір для тіней і рамок */
  /* Notifications */
  --color-info:           40, 165, 109;
  /* Колір інформацій */
  --color-warning:        189, 114, 39;
  /* Колір попереджень */
  --color-alert:          166, 50, 50;
  /* Колір аварій */
  --color-cancel:         54, 117, 176;
  /* Основний відміни */
  /*  ======= O P A C I T I E S ======= */
  /* Filter textfields background */
  --filter-bg-opacity:    0.2;
  /* Прозорість кольору фону для полів воду форми фільтрації */
  /* NEW data textfields background */
  --newdata-bg-opacity:    0.2;
  /* Прозорість кольору фону для полів воду форми фільтрації */
}
